.App {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #800080,
    #a93a8b,
    #cb669a,
    #e793af,
    #ffc0cb
  );
}

.option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row !important;
}

.option {
  width: 250px;
  height: 40px;
  margin: 10px !important;
  font-size: medium !important;
  border: 3px solid #dd92be !important;
  height: fit-content !important;
  color: black !important;
}

.option:hover {
  border: 3px solid #dc5aa5 !important;
  transition: none !important;
  background-color: inherit !important;
}

.MuiCardHeader-title {
  display: flex !important;
  padding: 5px 0px;
  font-size: 1.5rem !important;
  font-weight: 300 !important;
}

.MuiCardHeader-action {
  align-self: center !important;
  padding: 5px;
}

.circleContainer {
  display: flex;
}

.circularBar {
  width: 200px;
  flex: 0.4;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.6;
}

.containedButton {
  box-shadow: none !important;
  background-color: #c05795 !important;
  padding: 10px 10px !important;
}

.nextButton {
  width: 250px !important;
}

.CircularProgressbar-text {
  color: #4295ed;
}
